*{
    margin: 0;
    padding: 0;
}
.scroll-table{
    height: 500px;
    overflow-y: auto;
    width: 80%;
    position: absolute;
    margin-top: 80px;
    left: 100%;
    transform: translateX(-50%);
    
}
.content-table{
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0.0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    
}
.content-table thead{
    position: -webkit-sticky;
    top: 0;
}
.content-table thead tr{
    background-color: rgb(89, 89, 245);
    color: aliceblue;
    text-align: left;
    font-weight: bold;
   
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    position: relative;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(89, 89, 245);
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: rgb(89, 89, 245);

}